* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #fff;
}

section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.10s;

}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}